body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    /* font-family: "Noto Sans"; */
    
}
.navigation {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(145, 206, 246);
    height: 4.9rem;
    display: flex;
    font-size: 100%;
}
.nav-inside {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    max-width: 1500px;
}
.LogoIMG {
    margin-right: 1rem;
}
.LogoDolphy {
    color: #fff;
    font-size: 42px;
    margin-right: 10rem;
    margin-top: 0;
    margin-bottom: 8px;
    align-items: center;
    height: 100%;
}

.no-underline {
    text-decoration: none;
}
.top-menu-buttons {
    color: #fff;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.4rem;
}
.main {
    background-color: #FAF9FA;
    height: 100%;
    width: 100%;
    display: flex;
}
.bgstart {
    background-image: url(images/bg5.jpg);
    /* background-image: url(images/background.jpg); */
    background-color:rgb(225, 242, 252);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 99.1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container {
    flex-direction: row;
    margin-right: 800px;
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 700px;
    position: absolute;
    
}
.container1 {
    height: 599px;
}
.textWelcome {
    color:rgb(146, 221, 149);
    font-weight: 600;
    font-size: 45px;
    line-height: 1.2;
    text-transform: uppercase;
    align-items: flex-start;
    

}
.minimenucool {
    width: 800px;
    height: 200px;
    background: rgb(192, 238, 174);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
}



.minimenu {
    width: 800px;
    height: 600px;
    background: rgb(174, 212, 238);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
}
.minimenured {
    width: 800px;
    height: 600px;
    background: rgb(238, 160, 124);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}

.namemod {
    width: 760px;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
    
    
}
.tagmod {
    color: #222;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;   
}
.photomode {
 display: flex;
 justify-content: center;
 align-items: center;
margin-left: auto;
margin-right: auto;
}
.tagmod:hover {
text-decoration: underline;
color: #222;
}
.descriptionmode {
    width: 760px;
    height: 100px;
    background: #fff;
    border-radius: 15px;
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
}


































.footer {
    padding: 0 56px;
    background-color: #0D0D0D;
    display: block;

}
.footerwrap {
    display: flex;
    max-width: 1210px;
    margin: 0 auto;
    padding: 40px 0;
    border-top: solid 1px;
    
    font-family: 'Lato',sans-serif;
    height: 200px;
}
.footerlogo {
    width: 400px;
}
.footerback {
    background: rgb(255, 255, 255);
    width: 100%;
    border-radius: 20px;
}
.center {
    justify-content: center;
    align-items: center;
    color: #222; 
    text-decoration: none;
    font-size: 2rem;
    display: flex;
}

h2 {
    justify-content: center;
    align-items: center;
    color: #222;
   font-size: 24px;
   margin-top: 10px;
   margin-left: 10px;
   margin-bottom: 5px;
   display: flex;
}
a:hover {
    text-decoration: underline;
    color: #fff;
}
.center:hover {
    text-decoration: underline;
    color: #222;
}
.top-menu-buttons:hover {
    text-decoration: underline;
    color: #fff;
}
.top-menu-buttons {
    text-decoration: none;
    color: #fff;
}


