body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    
}
.navigation {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(145, 206, 246);
    height: 7rem;
    display: flex;
    font-size: 100%;
}
.nav-inside {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    max-width: 1500px;
}
.LogoIMG {
    margin-right: 1rem;
}
.LogoDolphy {
    color: #fff;
    font-size: 48px;
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 8px;
    align-items: center;
    height: 100%;
}

.no-underline {
    text-decoration: none;
}
.top-menu-buttons {
    color: #fff;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.4rem;
}