body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    /* font-family: "Noto Sans"; */
    
}
h3 {
    text-align: center;
    color: #222;
}
.navigation {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(145, 206, 246);
    height: 4.9rem;
    display: flex;
    font-size: 100%;
}
.nav-inside {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    max-width: 1500px;
}
.LogoIMG {
    margin-right: 1rem;
}
.LogoDolphy {
    color: #fff;
    font-size: 42px;
    margin-right: 10rem;
    margin-top: 0;
    margin-bottom: 8px;
    align-items: center;
    height: 100%;
}

.no-underline {
    text-decoration: none;
}
.top-menu-buttons {
    color: #fff;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.4rem;
}
.main {
    background-color: #FAF9FA;
    height: 100%;
    width: 100%;
    display: flex;
}
.bgstart {
    background-image: url(images/bg5.jpg);
    /* background-image: url(images/background.jpg); */
    background-color:rgb(225, 242, 252);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 99.1vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container {
    flex-direction: row;
    margin-right: 800px;
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 700px;
    position: absolute;  
}
.container2 {
    flex-direction: row;
    
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 700px;
    position: absolute;}

.container1 {
    height: 599px;
}
.textWelcome {
    color:rgb(146, 221, 149);
    font-weight: 600;
    font-size: 45px;
    line-height: 1.2;
    text-transform: uppercase;
    align-items: flex-start;
    

}
.minimenucool {
    width: 800px;
    height: 200px;
    background: rgb(145, 206, 246);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
}

.namemodcool {
    width: 800px;
    height: 150px;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    
}
.minimenulist {
    width: 720px;
    height: 60px;
    background: rgb(145, 206, 246);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}



.minimenu {
    width: 800px;
    height: 600px;
    background: rgb(174, 212, 238);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
}

.minimenured {
    width: 800px;
    height: 600px;
    background: rgb(238, 160, 124);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}
.minimenupurple {
    width: 800px;
    height: 600px;
    background: rgb(205, 140, 230);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}
.minimenugreen {
    width: 800px;
    height: 600px;
    background: rgb(192, 238, 174);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}
.minimenuyellow {
    width: 800px;
    height: 600px;
    background: rgb(250, 241, 161);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}


.namemod {
    width: 760px;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
    
    
}
.namemod1 {
    width: 760px;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    
    
}
.tagmod {
    color: #222;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;   
}
.photomode {
 display: flex;
 justify-content: center;
 align-items: center;
margin-left: auto;
margin-right: auto;
}
.tagmod:hover {
text-decoration: underline;
color: #222;
}
.descriptionmode {
    width: 760px;
    height: 100px;
    background: #fff;
    border-radius: 15px;
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
}
.descriptionmode1 {
    width: 760px;
    height: 120px;
    background: #fff;
    border-radius: 15px;
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
}
.pignation {
    padding: 0;
    text-align:center;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.pagination li {
    display: inline-block;
    margin: 5px 3px 13px;
    text-decoration: none;
}



































.footer {
    padding: 0 56px;
    background-color: #0D0D0D;
    display: block;

}
.footerwrap {
    display: flex;
    max-width: 1210px;
    margin: 0 auto;
    padding: 40px 0;
    border-top: solid 1px;
    
    font-family: 'Lato',sans-serif;
    height: 200px;
}
.footerlogo {
    width: 400px;
}
.footerback {
    background: rgb(255, 255, 255);
    width: 100%;
    border-radius: 20px;
}
.center {
    justify-content: center;
    align-items: center;
    color: #222; 
    text-decoration: none;
    font-size: 2rem;
    display: flex;
}

h2 {
    justify-content: center;
    align-items: center;
    color: #222;
   font-size: 24px;
   margin-top: 10px;
   margin-left: 10px;
   margin-bottom: 5px;
   display: flex;
}
a:hover {
    text-decoration: underline;
    color: #fff;
}
.center:hover {
    text-decoration: underline;
    color: #222;
}
.top-menu-buttons:hover {
    text-decoration: underline;
    color: #fff;
}
.top-menu-buttons {
    text-decoration: none;
    color: #fff;
}


.menumodsgreen {
    width: 1800px;
    height: 1000px;
    background:  rgb(166, 233, 140);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}
.menumodsred {
    width: 1800px;
    height: 1030px;
    background:  rgb(238, 160, 124);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}
.menumodswhite {
    width: 1800px;
    height: 1030px;
    background:  rgb(158, 158, 158);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}
.menumodsblue{
    width: 1800px;
    height: 1030px;
    background:  rgb(142, 198, 235);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}
.menumodsyellow{
    width: 1800px;
    height: 1030px;
    background:  rgb(250, 236, 106);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}
.menumodspurple{
    width: 1800px;
    height: 1030px;
    background:  rgb(205, 140, 230);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 2rem;
    
}

.containermods {
    height: 999px;
    width: 1700px;
}
.namemodde {
    width: 1700x;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1.5rem; */
    
    
}
.descriptionmodelocal {
    width: 1700px;
    height: 110px;
    background: #fff;
    border-radius: 15px;
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    
    
}
.tagmodde {
    color: #222;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;   
}
.tagmodde:hover {
    text-decoration: none;
    color: #222;
    }


    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    }
    .card {
        overflow: hidden;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(216, 216, 216);
        border-radius: 10px;
        filter: grayscale(0);
        cursor: pointer;
        width: auto;
    }
    .card img {
        max-width: 100%;
        max-height: 100%;
        opacity: 0.6;    
    }
    .card:hover {
        filter: grayscale(0);
    
    }
    .card:hover img {
        opacity: 6;
    }
    
    /* .card:nth-of-type(4) {
        box-shadow: 0 2px 5px 0  crimson;       
        position: relative;
        
    }
    .card:nth-of-type(5) {
        box-shadow: 0 2px 5px 0  springgreen;
    
    }
    .card:nth-of-type(6) {
        box-shadow: 0 2px 5px 0  blueviolet;
    } */
    .lightbox {
        position: fixed;
        background: rgba(255, 255, 255, 0.952);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        
    }
    .box {
        height: calc(100% - 150px);
        width: calc(100% - 200px);
        background: rgba(0, 0, 0, 0.109);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .arrow {
        position: fixed;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        font-size: 50px;
        cursor: pointer;
    }
    
    .cross {
        font-size: 50px;
        position: fixed;
        top: 50px;
        right: 90px;
        cursor: pointer;
    }
    .arrowP {
        left: 30px;
    
    }
    .arrowN {
        right: 30px;
         transform: rotate(180deg);
        
    }
    .lightboxImage {
         max-height: 100%;
         max-width: 100%;
         min-height: 100%;
    }
    .textmodde {
        color: #222;
        margin: 10px;
    }

    .namemodde1 {
        width: 500x;
        height: 50px;
        background: #fff;
        border-radius: 15px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        
    }
    .tagmodde:hover {
        color: #222;
        text-decoration: underline;
    }

    .tagmoddee {
        color: #222;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;   
    }
    .tagmoddee:hover {
        text-decoration: none;
        color: #222;
        }

        .descriptionmodelocalDIVINE {
            width: 1700px;
            height: 200px;
            background: #fff;
            border-radius: 15px;
            /* margin-top: 10px; */
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;
            
            
        }